body {
    background-image: url(IMG_4468.jpeg);
    background-size: cover;
}
.a {
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #000000;
    font-size: 50px;
}

.d {
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-shadow: 1px 1px 1px white;
}

a:link, a:visited {
    background-color: black;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;

  }
  
  a:hover, a:active {
    background-color: white;
    color: white;
  }




